h1 {
  /* display: inline-block; */
  background-color: brown;
}
span {
  /* display: inline-block; */
  /* width: 200px;
  height: 200px; */
  /* margin: 500px; */

  background-color: burlywood;
}
p {
  /* height: 50px;
  width: 200px; */
  /* display: inline-block; */
  background-color: burlywood;
}
div {
  background-color: cadetblue;
}
